
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: antiquewhite;
}
.dialogsItem{
  padding: 20px;
  font-size: 17px;
}
.dialogsItem .active {
    color: red;
    font-size: 20px;
}
.dialog {
    padding: 10px;
}

.messages {
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
    color: rgb(44, 44, 43);
}